.speech {
    font-style: italic;
    font-size: large;
    color: black;
}
.song {
    font-style: oblique;
    font-size: large;
    color: black;
}
.direction {
    font-style: inherit;
    font-size: medium;
    background-color: blanchedalmond;
    color: black;
}
.direction:hover {
    background-color:blueviolet;
    color: brown;
}
.Florian {
    color: black;
    font-size:larger;
    font-style: initial;
}
.Chorus {
    color: black;
    font-size : larger;
    font-style: initial;
}
table, td, th {
    border: solid 1px ;
    color: darkblue;
    margin: 40px;
    padding: 8px;
    row-gap: 3px;
    text-align: center;
}
tr:nth-child(even) {
    background-color:darkorange;
}
.Florian:hover {
    text-shadow: 2px 2px 8px royalblue;
   border-style: groove;
}
.Chorus:hover{
    text-shadow: 2px 2px 8px red;
    border-style: solid;
}
